@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

.court {
  position: relative;
  width: 100vw; /* 幅を100vwに設定 */
  height: calc(100vw * 37 / 100); /* 高さを100vw * 37 / 100に設定 */
  max-width: 1000px; /* 最大幅を1000pxに制限 */
  background-color: #84cc16;
  border: 2px solid #fff;
  margin: 5vh auto;
  overflow: hidden; /* 親要素からはみ出た要素を非表示にするためにオーバーフローを隠す */
}

/* 左の白線 */
.court::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18%;
  width: 4px;
  height: 100%;
  background-color: #fff;
}

/* 右の白線 */
.court::after {
  content: '';
  position: absolute;
  top: 0;
  right: 18%;
  width: 4px;
  height: 100%;
  background-color: #fff;
}

/* styles.css もしくは任意のファイル名.css */
.custom-button {
  color: white;
  align-items: center;
  background-color: #1d4ed8;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: fit-content; /* テキストに合わせてボタンの幅を調整 */
}

.custom-button:hover {
  background-color: #1e40af;
}

.custom-button:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: none;
}

.custom-button:focus .focus\:ring-blue-300 {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.dark .custom-button {
  background-color: #2563eb;
}

.dark .custom-button:hover {
  background-color: #1d4ed8;
}

.dark .custom-button:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.text-xl {
  font-size: 1.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.item-center {
  /* アイテムを中央揃えにするためのスタイル */
  display: flex;
  align-items: center;
}

.welcome-button {
  color: white;
  align-items: center;
  background-color: #1d4ed8;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 3rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: fit-content; /* テキストに合わせてボタンの幅を調整 */
  line-height: 3rem; /* テキストの高さをボタンの高さに合わせる */
}

.welcome-button:hover {
  background-color: #1e40af;
}

.welcome-button:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: none;
}

.welcome-button:focus .focus\:ring-blue-300 {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.dark .welcome-button {
  background-color: #2563eb;
}

.dark .welcome-button:hover {
  background-color: #1d4ed8;
}

.dark .welcome-button:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}